################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProbabilityCalculator.Api/.vs
/ProbabilityCalculator.Api/bin/Debug/net9.0
/ProbabilityCalculator.Api/obj
/ProbabilityCalculator.Api/ProbabilityCalculator.Api.csproj.user
